.card {
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	padding: 16px;
	width: 25%
}

.card-options {
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	box-sizing: border-box;
	display: inline-block;
	height: 32px;
	overflow: hidden;
	text-indent: -9999px;
	width: 32px;
}

.card .isActive {
	border-width: 4px;
}

.card_delete {
	background-image: url('../../images/delete.svg');
	background-size: 72%;
	margin-right: 15px;
}

.card_edit {
	background-image: url('../../images/edit.svg');
	background-size: 65%;
}

.card-content[contenteditable="true"] {
	outline: 2px dashed rgba(0, 0, 0, 0.5);
}

[data-color="first"] {
	background-color: #45AAEE;
}

[data-color="second"] {
	background-color: #FF1010;
}

[data-color="third"] {
	background-color: #76EF40;
}

[data-color="fourth"] {
	background-color: #EBEF40;
}

.wrap-card-options {
	left: 0;
	position: absolute;
	top: -16px;
}
