.newCard {
  background-color: #C5C5C5;
  margin-bottom: 40px;
  padding: 24px 124px;
}

.newCard-content {
  border: solid 1px #FFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 24px;
  padding: 10px;
  transition: height 0.3s linear,
              border 0.5s linear;
  width: 560px;
}

.newCard-content:focus {
  border: solid 1px #555;
  height: 150px;
}

.newCard-action {
  background-color: #8272C7;
  cursor: pointer;
  display: block;
  font-size: 16px;
  height: 34px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 84px;
}
